[submodule "External/CMock"]
	path = External/CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "External/Unity"]
	path = External/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "External/littlefs"]
	path = External/littlefs
	url = https://github.com/ARMmbed/littlefs
